@import url(../fonts/th_krub.css);
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'THKrub', sans-serif;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 14px;
  font-size: 1.4rem;
}

/* =16px */
h1 {
  font-size: 19px;
  font-size: 1.9rem;
  font-weight: bold;
}

/* =17px */
h2 {
  font-size: 16px;
  font-size: 1.6rem;
}

/* =15px */
h3 {
  font-size: 14px;
  font-size: 1.4rem;
}

/* =12px */
.container {
  overflow: hidden;
}

.transformer.is-open {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  left: 250px;
}

.transformer.is-open:after {
  content: " ";
  display: block;
  clear: both;
}

head {
  display: block;
  position: fixed;
  left: 10px;
  bottom: 10px;
  z-index: 999;
  color: #333;
  background: rgba(255, 255, 255, 0.25);
}

head:before {
  content: "|||";
  display: block;
  padding: 5px 10px;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: bold;
}

head:hover {
  background: rgba(255, 255, 255, 0.5);
  color: red;
}

head:hover ~ .transformer.is-open,
head:hover ~ body .transformer.is-open {
  position: relative;
}

head:hover ~ .transformer.is-open:before,
head:hover ~ body .transformer.is-open:before {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: " ";
  z-index: 998;
  background-image: linear-gradient(to right, transparent 10%, rgba(102, 102, 255, 0.25) 10%, rgba(179, 179, 255, 0.25) 90%, transparent 90%);
  background-size: 8.33333%;
  background-origin: content-box;
  background-clip: content-box;
  background-position: left top;
}

.transformer {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.transformer:after {
  content: " ";
  display: block;
  clear: both;
}

head:hover ~ .transformer,
head:hover ~ body .transformer {
  position: relative;
}

head:hover ~ .transformer:before,
head:hover ~ body .transformer:before {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: " ";
  z-index: 998;
  background-image: linear-gradient(to right, transparent 10%, rgba(102, 102, 255, 0.25) 10%, rgba(179, 179, 255, 0.25) 90%, transparent 90%);
  background-size: 8.33333%;
  background-origin: content-box;
  background-clip: content-box;
  background-position: left top;
}

.off-canvas-menu {
  position: absolute;
  width: 250px;
  left: -250px;
  overflow: scroll;
  background-color: Aquamarine;
}

.off-canvas-menu li {
  list-style-type: none;
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 1.6rem;
}

.off-canvas-menu a {
  text-decoration: none;
  color: black;
}

@media (min-width: 768px) {
  .off-canvas-menu {
    display: none;
  }
}

.menubar-small {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  min-height: 45px;
  background: rgba(80, 80, 80, 0.1);
}

.menubar-small:after {
  content: " ";
  display: block;
  clear: both;
}

head:hover ~ .menubar-small,
head:hover ~ body .menubar-small {
  position: relative;
}

head:hover ~ .menubar-small:before,
head:hover ~ body .menubar-small:before {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: " ";
  z-index: 998;
  background-image: linear-gradient(to right, transparent 10%, rgba(102, 102, 255, 0.25) 10%, rgba(179, 179, 255, 0.25) 90%, transparent 90%);
  background-size: 8.33333%;
  background-origin: content-box;
  background-clip: content-box;
  background-position: left top;
}

@media (min-width: 768px) {
  .menubar-small {
    display: none;
  }
}

.menubar-small .menu, .menubar-small .search {
  margin-top: 5px;
  font-size: 1.8rem;
  -webkit-text-fill-color: Aquamarine;
  /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: black;
}

.menubar-small .menu {
  width: 15%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
  text-align: left;
}

.menubar-small .search {
  width: 15%;
  float: right;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
  text-align: right;
}

.menubar-small .logo-small {
  width: 65%;
  float: left;
  margin-left: 30%;
  margin-right: -100%;
}

.menubar-small .logo-small img {
  max-height: 45px;
  margin-top: 2px;
}

.menubar-large {
  display: none;
  padding-bottom: 5px;
}

@media (min-width: 768px) {
  .menubar-large {
    display: block;
    min-height: 45px;
    background: rgba(80, 80, 80, 0.1);
    text-align: center;
  }
  .menubar-large ul {
    list-style-type: none;
  }
  .menubar-large ul li {
    display: inline;
    font-size: 1.6rem;
  }
  .menubar-large ul a {
    text-decoration: none;
    color: black;
  }
}

.advertisement {
  text-align: center;
  margin: 5px;
}

.posts .post-meta {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.posts .post-meta:after {
  content: " ";
  display: block;
  clear: both;
}

head:hover ~ .posts .post-meta,
head:hover ~ body .posts .post-meta {
  position: relative;
}

head:hover ~ .posts .post-meta:before,
head:hover ~ body .posts .post-meta:before {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: " ";
  z-index: 998;
  background-image: linear-gradient(to right, transparent 10%, rgba(102, 102, 255, 0.25) 10%, rgba(179, 179, 255, 0.25) 90%, transparent 90%);
  background-size: 8.33333%;
  background-origin: content-box;
  background-clip: content-box;
  background-position: left top;
}

.posts .post-meta .featured-image {
  width: 27.5%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
}

.posts .post-meta .post-title, .posts .post-meta .excerpt, .posts .post-meta .publish-date {
  width: 69.16667%;
  float: right;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
  margin-top: 0;
  margin-bottom: 5px;
}

.posts .post-meta .post-title {
  font-weight: 600;
}

.posts .post-meta .excerpt {
  display: none;
  color: gray;
}

@media (min-width: 481px) {
  .posts .post-meta .excerpt {
    display: block;
  }
}

.posts .post-meta hr {
  margin-top: 0;
}

.load-more-post {
  width: 98.33333%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
  text-align: center;
}

.footer {
  width: 98.33333%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
  text-align: center;
}

.footer a.back-to-top {
  position: fixed;
  right: 20px;
  bottom: 20px;
  font-size: 2.5rem;
  color: Aquamarine;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: black;
  z-index: 999;
}

@media (min-width: 996px) {
  .container {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 997px;
  }
  .container:after {
    content: " ";
    display: block;
    clear: both;
  }
  head:hover ~ .container,
  head:hover ~ body .container {
    position: relative;
  }
  head:hover ~ .container:before,
  head:hover ~ body .container:before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: " ";
    z-index: 998;
    background-image: linear-gradient(to right, transparent 10%, rgba(102, 102, 255, 0.25) 10%, rgba(179, 179, 255, 0.25) 90%, transparent 90%);
    background-size: 8.33333%;
    background-origin: content-box;
    background-clip: content-box;
    background-position: left top;
  }
  .container .posts {
    width: 65%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }
  .container .advertisement {
    width: 31.66667%;
    float: right;
    margin-left: 0.83333%;
    margin-right: 0.83333%;
  }
}
