// /////////////////////////////////////////////
// Importing Susy from Bower compoments
// /////////////////////////////////////////////
@import "bower_components/susy/sass/susy";
@import "bower_components/compass-breakpoint/stylesheets/breakpoint";


// /////////////////////////////////////////////
// Set up boxsizing $ susy variables
// /////////////////////////////////////////////
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

$susy : (
  columns: 7,
  global-box-sizing: border-box,
  gutter-position: split,
  debug: (
    image: show-colums,
    output: overlay,
    toggle: bottom left
    )
);


// /////////////////////////////////////////////
// Set up breakpoint variables Media Queries
// /////////////////////////////////////////////
$widest-phone-width: 481px;
$widest-tablet-width: 768px;
$tablet: $widest-phone-width $widest-tablet-width;


// /////////////////////////////////////////////
// Set Color variables
// /////////////////////////////////////////////
$main-color: Aquamarine;


// /////////////////////////////////////////////
// Import THKrub font & set as default font
// /////////////////////////////////////////////
@import "../fonts/th_krub.css";
body {
  font-family: 'THKrub', sans-serif;
  margin: 0;
}


// /////////////////////////////////////////////
// Set up standard font size
// /////////////////////////////////////////////
html { font-size: 62.5%; }
body { font-size: 14px; font-size: 1.4rem; } /* =16px */
h1   { font-size: 19px; font-size: 1.9rem; font-weight: bold;} /* =17px */
h2   { font-size: 16px; font-size: 1.6rem; } /* =15px */
h3   { font-size: 14px; font-size: 1.4rem; } /* =12px */


// /////////////////////////////////////////////
// Layout Mobile (<600px) Susy
// /////////////////////////////////////////////
.container {
  overflow: hidden;
}

.transformer.is-open {
  @include container;
  left: 250px;
}

.transformer {
  @include container();
  position: relative;
}

.off-canvas-menu {
  position:absolute;
  width: 250px;
  left: -250px;
  overflow: scroll;
  // background: rgba(248,0,0,0.3);
  background-color: $main-color;
  li {
    list-style-type: none;
    margin-top: 5px;
    margin-bottom: 10px;

    font-size: 1.6rem;
  }
}

.menubar {
  @include container(7 nest);
  min-height: 45px;
  background: rgba(80,80,80,0.1);

  .menu, .search {
    margin-top: 5px;
    font-size: 1.8rem;
   -webkit-text-fill-color: $main-color; /* Will override color (regardless of order) */
   -webkit-text-stroke-width: 1.5px;
   -webkit-text-stroke-color: black;
  }
  .menu {
    @include span(1 first);
    text-align: left;
  }
  .search {
    @include span(1 last);
    text-align: right;
  }

  .logo {
    @include span(isolate 5 at 3 of 7);
    img {
      max-height: 45px;
      margin-top: 2px;
    }
  }

}

.advertisement {
  text-align: center;
  margin: 5px;
}

.posts {

  .post-meta {
    @include container(7)

    .featured-image {
      @include span(2 first)
    }

    .post-title, .excerpt, .publish-date  {
      @include span(5 last);
      margin-top: 0;
      margin-bottom: 5px;
    }

    .post-title {
      font-weight:600;
    }

    .excerpt {
      @include breakpoint($widest-phone-width) {
        display: block;
      }
      display: none;
      color: gray;
    }

    hr {
      margin-top: 0;
    }

  } //end .post-meta
} //end .posts

.load-more-post, .footer {
  @include span(7);
  text-align: center;
}


a.back-to-top{
    position: fixed;
    right: 20px;
    bottom: 20px;
    font-size: 2.5rem;
    color: $main-color;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: black;
    z-index: 999;
}
// display: none;
// 	width: 60px;
// 	height: 60px;
// 	text-indent: -9999px;
// 	position: fixed;
// 	z-index: 999;
// 	right: 20px;
// 	bottom: 20px;
// 	background: #27AE61 url("up-arrow.png") no-repeat center 43%;
// 	-webkit-border-radius: 30px;
// 	-moz-border-radius: 30px;
// 	border-radius: 30px;
