// /////////////////////////////////////////////
// Importing Susy from Bower compoments
// /////////////////////////////////////////////
@import "bower_components/susy/sass/susy";
@import "bower_components/compass-breakpoint/stylesheets/breakpoint";


// /////////////////////////////////////////////
// Set up boxsizing $ susy variables
// /////////////////////////////////////////////
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

$susy : (
  columns: 12,
  global-box-sizing: border-box,
  gutter-position: split,
  debug: (
    image: show-colums,
    output: overlay,
    toggle: bottom left
    )
);


// /////////////////////////////////////////////
// Set up breakpoint variables Media Queries
// /////////////////////////////////////////////
$widest-phone-width   : 481px;
$widest-tablet-width  : 768px;
$widest-small-desktop : 996px;


// /////////////////////////////////////////////
// Set Color variables
// /////////////////////////////////////////////
$main-color     : rgba( 127, 255, 212, 1.0 );
$main-color-hover : rgba(  41, 166, 125, 1.0 );


// /////////////////////////////////////////////
// Import THKrub font & set as default font
// /////////////////////////////////////////////
@import "../fonts/th_krub.css";
body {
  font-family: 'THKrub', sans-serif;
  margin: 0;
  ul {
    padding: 0;
  }
}


// /////////////////////////////////////////////
// Set up standard font size
// /////////////////////////////////////////////
html { font-size: 62.5%; }
body { font-size: 14px; font-size: 1.4rem; } /* =14px */
h1   { font-size: 19px; font-size: 1.9rem; } /* =17px */
h2   { font-size: 16px; font-size: 1.6rem; } /* =15px */
h3   { font-size: 14px; font-size: 1.4rem; } /* =14px */


// ////////////////////////////////////////////////////
// Phones, Tablets, Small Desktop layouts and styles
// ///////////////////////////////////////////////////
.container {
  overflow: hidden;
}

.transformer.is-open {
  @include container;
  left: 250px;
}

.transformer {
  @include container();
  position: relative;
}

.off-canvas-menu {
  position:absolute;
  width: 250px;
  left: -250px;
  overflow: scroll;
  background-color: $main-color;
  border-right: solid 1px;
  border-bottom: solid 1px;


  li {
    list-style-type: none;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 1.8rem;
    text-align: center;
    &:hover {
      background-color: $main-color-hover;
      color:white;
      font-size: 2.4rem;
    }
  }
  a {
    text-decoration: none;
    color:black;
  }

  #close-icon {
    font-size: 1.4;

    -webkit-text-fill-color: white; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    &:hover {
      font-size: 1.8;
    }
  }
  @include breakpoint($widest-tablet-width) {
    display: none;
  }

}

.menubar-small {
  @include container(nest);
  min-height: 45px;
  background: $main-color;
  border-bottom: solid 1px;

  @include breakpoint($widest-tablet-width) {
    display: none;
  }

  .menu, .search {
    margin-top: 5px;
    font-size: 1.8rem;
   -webkit-text-fill-color: white; /* Will override color (regardless of order) */
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;
  }

  .menu {
    @include span(2 first);
    text-align: left;
    padding-top: 3px;
    padding-left: 5px;
  }

  .search {
    @include span(2 last);
    text-align: right;
    padding-top: 3px;
    padding-right: 5px;
  }

  .logo-small {
    @include span(isolate 8 at 4.5 of 12);
    img {
      max-height: 45px;
      margin-top: 2px;
    }
  }

}

.menubar-large {
  display:none;
  padding-bottom: 5px;

  @include breakpoint($widest-tablet-width) {
    display: block;
    min-height: 45px;
    background: $main-color;
    text-align: center;

    ul {
      list-style-type:none;

      li {
        display:inline;
        font-size: 1.9rem;
        &:hover {
          background-color: $main-color-hover;
          color: white;

        }
      }

      a {
        text-decoration: none;
        color:black;
      }
    }
  } //end of small-desktop breakpoint

}

.advertisement {
  text-align: center;
  margin: 5px;
}

.posts {
  //Index.html
  .post-meta {
    @include container;

    .featured-image {
      @include span(3.5 first)

      &:hover {
        border: solid 4px $main-color-hover;
      }
    }

    .post-title, .excerpt, .publish-date  {
      @include span(8.5 last);
      margin-top: 0;
      margin-bottom: 5px;
    }

    .post-title {
      font-weight:600;
      &:hover {
        background-color: $main-color-hover;
        color: white;
        font-size: 2.2rem;
      }
    }

    .excerpt {
      @include breakpoint($widest-phone-width) {
        display: block;
      }
      display: none;
      color: gray;
    }

    hr {
      margin-top: 0;
    }

  } //end .post-meta

  //Single.html
  .single-post {
    .single-featured-title {
      @include span(11.5 last);
      font-size: 3.2rem;
      margin: 0;
    };

    .single-featured-image {
      @include span(12);
      float: right;
    };

    h3{
      @include span(11.5 last);
      margin: 0;
    }
    p {
      @include span(11.5 last);
      font-size: 1.8rem;
    }

  };
} //end .posts

.load-more-post {
  @include span(12);
  text-align: center;
}

.footer {
  @include span(12);
  text-align: center;

  a.back-to-top {
      position: fixed;
      right: 20px;
      bottom: 20px;
      font-size: 2.5rem;
      color: $main-color;
      -webkit-text-stroke-width: 1.5px;
      -webkit-text-stroke-color: black;
      z-index: 999;

      &:hover {
        color: $main-color-hover
      }
  }

}


// ////////////////////////////////////////////////////
// Large Desktop layouts and styles
// ///////////////////////////////////////////////////
@include breakpoint($widest-small-desktop) {
.container {
  @include container(12 nest);
  max-width: 997px;
  .posts {
    @include span(8 first);
  }
  .advertisement {
    @include span(4 last);
  }
}
};
