// /////////////////////////////////////////////
// Importing Susy from Bower compoments
// /////////////////////////////////////////////
@import "bower_components/susy/sass/susy";
@import "bower_components/compass-breakpoint/stylesheets/breakpoint";


// /////////////////////////////////////////////
// Set up susy variable
// /////////////////////////////////////////////
// $susy (
//   columns: 12,
//   gutter: 1/4,
// );

$high-tide: 500px;
$higher-tide: 900px;

div.col-md-8 {
  @include container(960px)
  @include span(8 of 12);
  background-color: green;
  color: white;
  text-align: center;
}

div.col-md-4 {
  @include container(960px)
  @include span(4 of 12);
  background-color: pink;
  color: white;
  text-align: center;
}


@include breakpoint($high-tide) {
  div.col-md-8 {
    background-color: red;
  }
}

@include breakpoint($higher-tide) {
  div.col-md-8 {
    background-color: blue;
  }
}
