// /////////////////////////////////////////////
// Import Susy from Bower components
// /////////////////////////////////////////////
@import "bower_components/susy/sass/susy";
@import "bower_components/compass-breakpoint/stylesheets/breakpoint";



// /////////////////////////////////////////////
// Import fonts
// /////////////////////////////////////////////
@import "../fonts/th_krub.css";



// /////////////////////////////////////////////
// Set up Susy variables
// /////////////////////////////////////////////
$susy: (
  columns: 12,
  debug: (image: show),
  global-box-sizing: border-box
);

/* Makes border-box properties */
@include border-box-sizing;

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}



// /////////////////////////////////////////////
// SCSS starts here
// /////////////////////////////////////////////
html {
  body {
    @include container();
    font-family: 'THKrub', sans-serif;
  }
}

.menubar {
  @include span(12);
  min-height: 49px;
  position: fixed;

  background-color: orange;

  .menu-btn {
    @include span(2)
    min-height: 49px;
    padding-top: 15px;

    color: white;
    background-color: red;
    text-align: center;
  }
  .logo {
    @include span(8)
    min-height: 49px;
    padding-top: 15px;

    color: white;
    background-color: blue;
    text-align: center;
  }
}

.advertisement {
  text-align: center;
  padding-top: 50px;
  span {
    @include span(12)
  }
  .ad-image {
    width: 300px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    display: table;

    background: black;
  }
}

.article {
  .article_meta {
    .author {
      display: inline-block;
    }

    .publish_date {
      display: inline-block;
    }
  }

  .article_title {
    margin: 0;
  }

  .article_featured_image {
    img {
      @include span(12);
    }
  }


}
